.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: max-content;
  padding: 20px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
